@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #1b2034;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b2034;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  padding: 2rem 1rem;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

